body {
    margin-left: 5%;
    margin-right: 5%;
}

header {
    text-align: left;
    font-family: serif;
    font-variant: small-caps;
}

main {
    text-align: left;
    margin-left: 3%;
    font-family: serif;
}

section {
    margin-top: 15px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #4F0663;
    border-bottom: 3px solid #9C139A;
    letter-spacing: 3px;
}

h2 {
    color: #9C139A;
    font-size: 22px;
    margin-bottom: 10px;
}

b {
    color: #4F0663;
    font-family: sans-serif;
}

.button {
    background-color: #64CCF6;
    color: #fff;
    border: 2px solid #0E79B2;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 4px 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0E79B2;
}

.textfill, select, label {
    font-size: 11px;
}

.indent {
    margin-left: 3%;
    font-size: 76%;
}

dt {
    display: inline;
    font-weight: bold;
    color: #4F0663;
    font-family: sans-serif;
}

dt::after {
    content: ": ";
}

dd {
    display: inline;
    margin: 0;
}
